.timeline-wrapper
    display: flex
    flex-direction: row 
    .start-daytime,.end-daytime
        position: relative
        top: 25px
.timeline
    width: 80%
    list-style-type: none
    display: flex
    align-items: center
    padding-inline-start: 0px
    &:before
        content: ''
        width: 80%
        background-color: white
        margin-top: 10px
        border: 1px solid #ddd
        position: absolute
.li
    position: relative
    transition: all 200ms ease-in
    top: 10px

.timestamp
    margin-bottom: 20px
    padding: 0px 40px
    display: flex
    flex-direction: column
    align-items: center
    font-weight: 100
.status
    padding: 0px 40px
    display: flex
    justify-content: center
    border-top: 2px solid #D6DCE0
    position: relative
    transition: all 200ms ease-in  
    top: 9px
    h4
        font-weight: 600
    &:before
        content: ''
        background-color: white
        border-radius: 15px
        width: 15px
        height: 15px
        border: 1px solid #ddd
        position: absolute
        left: 0px
        top: -10px
        transition: all 200ms ease-in 
.end
    display: flex
    position: relative
    top: -63px
    justify-content: flex-end
    &:after
        content: ''
        background-color: #ddd
        border-radius: 15px
        width: 15px
        height: 15px
        top: 5px
        transition: all 200ms ease-in 
.li.complete
  .status
    border-top: 2px solid #66DC71
    &:before
        background-color: #66DC71
        border: none
        transition: all 200ms ease-in 
    h4
        color: #66DC71

/// Layout stuff
html,body
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    font-family: 'Titillium Web', sans serif
    color: #758D96