<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="timeline-wrapper">
<span class="start-daytime">0</span>
<ul class="timeline" id="timeline">
    <li *ngFor="let shift of shifts; index as idx" class="li complete" [ngStyle]="{'left.%': calculateOffset(shift, idx), 'width.%': shift.getEndOffset() - shift.getStartOffset()}">
        <div class="shift-start"></div>
        <div class="shift-timestamp">
            <span class="author">{{shift.getStartTime()}}</span>
            <span class="date">{{shift.getEndTime()}}</span>
        </div>
        <div class="shift-description">
            <h4> SIC </h4>
        </div>
        <div class="shift-end"></div>
    </li>
</ul>
<span class="end-daytime">24</span>
</div>